<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  <%- include("_header.ejs") %>

    <h1>Edit Medicine</h1>
<form action="/admin/edit/<%= medicine.id %>" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="<%= medicine.name %>" required /><br>

  <label>Location:</label>
  <input type="text" name="location" value="<%= medicine.location %>" required /><br>

  <label>Available:</label>
  <select name="availability">
    <option value="1" <%= medicine.availability ? "selected" : "" %>>Yes</option>
    <option value="0" <%= !medicine.availability ? "selected" : "" %>>No</option>
  </select><br>
  <button type="submit">Update</button>
</form>
</body>
</html>