<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MediPrime</title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>  <%- include("_header.ejs")%>
<h2>Search Medicines</h2>
<form action="/medicines/filter" method="GET">
  <input type="text" name="name" placeholder="Medicine Name" value="<%= filters?.name || '' %>">
  <input type="text" name="location" placeholder="Location" value="<%= filters?.location || '' %>">
  
  <select name="availability">
    <option value="">--Availability--</option>
    <option value="1" <%= filters?.availability == "1" ? "selected" : "" %>>In Stock</option>
    <option value="0" <%= filters?.availability == "0" ? "selected" : "" %>>Out of Stock</option>
  </select>
  
  <input type="text" name="pharmacy" placeholder="Pharmacy Name" value="<%= filters?.pharmacy || '' %>">
  <button type="submit">Search</button>
</form>

      </div>
    </div>
  </main>
</body>
</html>
